.DS_Store
README.md
C/pp4/bottomup
C/pp4/license
C/lab4/smiley/colorize
C/pset4/filter-less/filter
C/pp5/trie/trie
C/pset5/speller/speller
.vscode/launch.json
.vscode/tasks.json
C/ProblemSets/pset5/speller/speller
Code/PracticeProblems/pp6/jar/__pycache__/jar.cpython-311.pyc
Code/PracticeProblems/pp6/jar/__pycache__/test_jar.cpython-311-pytest-7.3.1.pyc
Code/Labs/lab1/population
Code/Labs/lab1/population.exe
.vscode/settings.json
.vscode/c_cpp_properties.json
Code/PracticeProblems/pp1/debug
Code/PracticeProblems/pp1/half
Code/PracticeProblems/pp1/prime
Code/ProblemSets/pset1/cash
Code/ProblemSets/pset1/hello
Code/ProblemSets/pset1/mario-less
Code/ProblemSets/pset1/mario-more
Code/ProblemSets/pset1/credit
Code/Labs/lab2/scrabble
