.DS_Store
README.md
C/pp4/bottomup
C/pp4/license
C/lab4/smiley/colorize
C/pset4/filter-less/filter
C/pp5/trie/trie
C/pset5/speller/speller
.vscode/launch.json
.vscode/tasks.json
C/ProblemSets/pset5/speller/speller
Code/PracticeProblems/pp6/jar/__pycache__/jar.cpython-311.pyc
Code/PracticeProblems/pp6/jar/__pycache__/test_jar.cpython-311-pytest-7.3.1.pyc
Code/Labs/lab1/population
Code/Labs/lab1/population.exe
.vscode/settings.json
.vscode/c_cpp_properties.json
Code/PracticeProblems/pp1/debug
Code/PracticeProblems/pp1/half
Code/PracticeProblems/pp1/prime
Code/ProblemSets/pset1/cash
Code/ProblemSets/pset1/hello
Code/ProblemSets/pset1/mario-less
Code/ProblemSets/pset1/mario-more
Code/ProblemSets/pset1/credit
Code/Labs/lab2/scrabble
Code/PracticeProblems/pp2/hours
Code/PracticeProblems/pp2/no-vowels
Code/PracticeProblems/pp2/password
Code/ProblemSets/pset2/bulbs
Code/ProblemSets/pset2/caesar
Code/ProblemSets/pset2/readability
Code/ProblemSets/pset2/substitution
Code/ProblemSets/pset2/wordle/wordle
Code/PracticeProblems/pp3/atoi
Code/PracticeProblems/pp3/max
Code/PracticeProblems/pp3/temps
Code/PracticeProblems/pp3/snackbar
Code/ProblemSets/pset3/plurality
Code/ProblemSets/pset3/runoff
Code/ProblemSets/pset3/tideman
Code/Labs/lab4/smiley/colorize
Code/Labs/lab4/volume/volume
Code/PracticeProblems/pp4/bottomup/bottomup
Code/ProblemSets/pset4/filter-less/filter
Code/ProblemSets/pset4/filter-more/filter
Code/ProblemSets/pset4/filter-more/images/out.bmp
Code/ProblemSets/pset4/reverse/reverse
